<footer class="page-footer">
    <div class="container py-3">
        <div class="row">
            <div class="col">
               <strong><a href="about.html">About</a></strong>
               <ul>
                   <li>Terms of Use</li>
                   <li>Help</li>
                   <li>Contact Us</li>
               </ul>
            </div>
            <div class="col">
                <strong>Search</strong>
                <ul>
                    <li>Our database</li>
                    <li>Other resources</li>
                    <li>Data analysis tools</li>
                </ul>
             </div>
             <div class="col">
                <strong><a href="housing.html">Housing</a></strong>
                <ul>
                    <li>History</li>
                    <li>Timeline</li>
                    <li>Case studies</li>
                </ul>
             </div>
             <div class="col">
                <strong><a href="policing.html">Policing</a></strong>
                <ul>
                    <li>History</li>
                    <li>Timeline</li>
                    <li>Case studies</li>
                </ul>
             </div>
             <div class="col">
                <strong><a href="get_involved.html">Get Involved</a></strong>
                <ul>
                    <li>Connect</li>
                    <li>Collaborate</li>
                    <li>Curate</li>
                </ul>
             </div>
             <div class="col-5">
                <a href="https://library.stanford.edu"><img alt="Stanford Libraries" class="img-fluid" width="35%" src="images/logo_stanfordlibraries.png"></a> in partnership with
                <a href="http://law.howard.edu"><img alt="Howard Law" class="img-fluid" width="35%" src="images/logo_howard.png"></a>
            </div>
        </div>
    </div>
</footer>
