<footer class="page-footer">
    <div class="container py-3">
        <div class="row">
            <div class="col">
               <strong>About</strong>
               <ul>
                   <li>Terms of Use</li>
                   <li>Help</li>
                   <li>Contact Us</li>
               </ul>
            </div>
            <div class="col">
                <strong>Search</strong>
                <ul>
                    <li>Our database</li>
                    <li>Other resources</li>
                    <li>Data analysis tools</li>
                </ul>
             </div>
             <div class="col">
                <strong>Housing</strong>
                <ul>
                    <li>History</li>
                    <li>Timeline</li>
                    <li>Case studies</li>
                </ul>
             </div>
             <div class="col">
                <strong>Policing</strong>
                <ul>
                    <li>History</li>
                    <li>Timeline</li>
                    <li>Case studies</li>
                </ul>
             </div>
             <div class="col">
                <strong>Get Involved</strong>
                <ul>
                    <li>Connect</li>
                    <li>Collaborate</li>
                    <li>Curate</li>
                </ul>
             </div>
             <div class="col-4">
                <img alt="Stanford Libraries" class="img-fluid" src="images/logo_stanfordlibraries.png"> in partnership with
                <img alt="Howard Law" class="img-fluid" src="images/logo_howard.png">
            </div>
        </div>
    <div>
</footer>
