body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

/**************************/
/* start navbar styles   */
.nav-link,
.navbar-brand {
    color: #2f576e;
    cursor: pointer;
	font-weight: bold;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #ddd;
}
.navbar-collapse {
    justify-content: flex-end;
}
/* end navbar styles      */
/**************************/

/**************************/
/* start home page styles */
.home {
    background-image: url('../images/home_mlkmarch_homepage.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header {
    background:#0d1f2c;
    color: #ddd;
}

.header-home {
    color:#0d1f2c;
}

.bubbles {
	margin: 4em auto;
	padding: 1em;
    background-color: #ccc;
	opacity: 80%;
	color: #000;
}

.quote-bar {
	background-color: #000;
}

.features-bar {
	background-color: #2f576e;
}
.features {
	padding: 1em;
	position: relative;
	color: #ddd;
}
.feature-title {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.stories-bar {
	background-color: #fff;
	display: none;
}

.explain-bar {
	background-color: #c0c0b6;
}

.title {
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 20px;
	color: #702f21;
}

.events-bar {
	background-color: #dfdbd3;
	display: none;
}

.edu-bar {
	background-color: #ac8d4d;
	display: none;
}

.about-bar {
	background-color: #fff;
}

/* end home page styles   */
/**************************/

.page-footer {
	background-color: #6d747e;
}
