body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.home {
    background-image: url('../images/home_mlkmarch_homepage.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header {
    background:#0d1f2c;
    color: #ddd;
}

.header-home {
    color:#0d1f2c;
}

.nav-link,
.navbar-brand {
    color: #38566c;
    cursor: pointer;
	font-weight: bold;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #ddd;
}
.navbar-collapse {
    justify-content: flex-end;
}

.bubbles {
	margin: 4em auto;
	padding: 1em;
    background-color: #ccc;
	position: relative;
	opacity: 80%;
	color: #000;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
